.App {
  width: 95%;
  min-height: calc(100vh - 30px);
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.loading {
  margin-top: 30px;
}